$desktop: 1024px;
$tablet: 768px;
$phone: 425px;

@media screen and (max-width: $tablet) {
  footer,
  section {
    padding: 96px 0;
  }

  h2 {
    font-size: 44px;
  }
}

@media screen and (max-width: $phone) {
  footer,
  section {
    padding: 64px 0;
  }

  h2 {
    font-size: 36px;
  }

  .btn,
  button {
    font-size: 18px;
  }
}
