$primary-color: lightseagreen;
$primary-gradient: linear-gradient(45deg, rgba(32, 159, 178, 1) 0%, rgba(32, 178, 170, 1) 100%);
$primary-light: #e3f2f3;
$light-gray: #aaa;

$desktop: 1024px;
$tablet: 768px;
$phone: 425px;
