@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Dosis', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

section {
  padding: 64px 0;

  .container {
    padding: 0 32px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}
